[submodule "YearI/SemesterII/DiscreteStructures/CPP-FILE"]
	path = YearI/SemesterII/DiscreteStructures/CPP-FILE
	url = https://github.com/jarvis-1805/CPP-FILE.git
[submodule "YearI/SemesterII/ProgrammingInJava/JAVA-FILE"]
	path = YearI/SemesterII/ProgrammingInJava/JAVA-FILE
	url = https://github.com/jarvis-1805/JAVA-FILE.git
