[submodule "YEAR I/SEM II/DISCRETE STRUCTURES/CPP-FILE"]
	path = YEAR I/SEM II/DISCRETE STRUCTURES/CPP-FILE
	url = https://github.com/jarvis-1805/CPP-FILE.git
[submodule "YEAR I/SEM II/PROGRAMMING IN JAVA/JAVA-FILE"]
	path = YEAR I/SEM II/PROGRAMMING IN JAVA/JAVA-FILE
	url = https://github.com/jarvis-1805/JAVA-FILE.git
[submodule "YEAR II/SEM III/OPERATING-SYSTEM"]
	path = YEAR II/SEM III/OPERATING-SYSTEM
	url = https://github.com/jarvis-1805/OPERATING-SYSTEM.git
